<!-- yaimgsearch plugin -->
<div class="yaimgs-wrapper">
    <div class="content right200px">
        <div class="yaimgs-container">
            <!-- yaimgs toolbar -->
            <div class="yaimgs-toolbar">
                <form class="yaimgs-form">
                    <input type="text" value="{if $product_name}{$product_name}{/if}" placeholder="Поиск в Яндекс.Картинках">
                    <button type="submit"><span class="search">Поиск</span><i class="icon16 loading"></i></button>
                </form>
            </div>
            <div class="yaimgs-content">
                <div class="yaimgs-gallery"></div>
                <div class="yaimgs-more"><a href="#"><span class="text">Еще картинки</span><i class="icon16 loading"></i></a></div>
            </div>
            <!-- yaimgs modal -->
            <div class="yaimgs-modal">
                <div class="yaimgs-modal-wrapper">
                <div class="yaimgs-modal-content">
                    <a href="#" class="yaimgs-modal-close">&times;</a>
                    <div class="yaimgs-modal-content__left">
                        <div class="yaimgs-core-image">
                            <span id="yaimgs-zoom-container">
                                <img class="yaimgs-zoom-img" src="">
                            </span>
                            <i class="icon16 loading"></i>
                            <span class="error-text">Не удалось загрузить изображение! Попробуйте другие размеры.</span>
                        </div>
                        <div class="yaimgs-carousel"></div>
                        <div class="yaimgs-core-arrows">
                            <a class="yaimgs-core-prev" href="#"><span>&#x2039;</span></a>
                            <a class="yaimgs-core-next" href="#"><span>&#x203A;</span></a>
                        </div>
                    </div>
                    <div class="yaimgs-modal-content__right">
                        <div class="yaimgs-info"></div>
                    </div>
                </div>
                </div>
            </div>
            <!-- yaimgs batches  -->
            <div class="yaimgs-batches">
                <div class="yaimgs-batches-wrapper"></div>
            </div>
        </div>
    </div>
</div>
<link href="{$plugin_url}css/yaimgs.combined.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{$plugin_url}js/yaimgs.combined.js"></script>
<script>
    (function($) {
        if (typeof yaImgSearch === "function") {
            new yaImgSearch({
                product_id: '{$yaimgs_product_id}',
                locales: {
                    placeholder: 'добавить описание'
                },
                urls: {
                    captcha: 'https://yandex.ru/checkcaptcha?',
                    search: 'https://yandex.ru/images/search?text=',
                    images: '?plugin=yaimgsearch&action=images',
                    upload: '?plugin=yaimgsearch&action=upload'
                }
            });
        }
    })(jQuery);
</script>
{literal}
<script id="yaimgs-images" type="text/html">
    {% for (var i = 0, n = o.images.length, image = o.images[0]; i < n; image = o.images[++i]) { %}
    <div class="yaimgs-gallery-item">
        <a href="#">
            <img src="{%#image.thumb.url%}">
        </a>
        <span class="yaimgs-gallery-description">
            <span>{%#image.description.text%}</span>
        </span>
    </div>
    {% } %}
</script>
<script id="yaimgs-info" type="text/html">
    <div>
        <h3>Описание изображения:</h3>
        <p>{%#o.data.description.text%}</p>
    </div>
    <a href="{%#o.data.preview[0].url%}" data-height="{%#o.data.preview[0].height%}" data-width="{%#o.data.preview[0].width%}" data-filesize="{%#o.data.preview[0].fileSizeInBytes%}" data-thumb="{%#o.data.thumb.url%}" class="yaimgs-core-link selected">Основное изображение {%#o.data.preview[0].width%}x{%#o.data.preview[0].height%}</a>
    {% for (var i = 0, n = o.data.sizes.length, image = o.data.sizes[0]; i < n; image = o.data.sizes[++i]) { %}
    <a href="{%#image.url%}" data-height="{%#image.height%}" data-width="{%#image.width%}" data-filesize="{%#image.fileSizeInBytes%}" data-thumb="{%#o.data.thumb.url%}" class="yaimgs-core-link half">{%#image.width%}x{%#image.height%}</a>
    {% } %}
    <a href="#" class="yaimgs-core-upload">Добавить <b>выбранное</b> к товару</a>
</script>
<script id="yaimgs-batch" type="text/html">
    <div class="yaimgs-batches-item just-added">
        <span class="yaimgs-batches-item-wrapper">
            <div style="background-image: url({%#o.data.thumb%});"><span>{%#o.data.width%}x{%#o.data.height%}</span></div>
            <span class="__loading"><i class="icon16 loading"></i>загрузка...</span>
            <span class="__success"><i class="icon16 yes"></i>загружено!</span>
            <span class="__iferror"><i class="icon16 delete"></i>ошибка!</span>
        </span>
    </div>
</script>
{/literal}