<!-- yaimgsearch plugin -->
<link href="{$data.plugin_url}css/yaimgs.combined.css?v=1.19" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{$data.plugin_url}js/yaimgs.combined.js?v=1.19"></script>
{literal}
<script id="yaimgs-wrapper" type="text/html">
<div class="yaimgs-container">
    <!-- yaimgs toolbar -->
    <div class="yaimgs-toolbar">
        <img class="yaimgs-logo" src="{%#o.data.plugin_url%}img/yaimgsearch36.png"/>
        <form class="yaimgs-form">
            <div class="yaimgs-form-wr">
                <input type="text" value="{%#o.data.product_name%}" placeholder="Введите поисковый запрос">
                <button type="submit"><span class="search">Поиск</span><i class="icon16 loading"></i></button>
            </div>
        </form>
    </div>
    <div class="yaimgs-content">
        <div class="yaimgs-gallery"></div>
        <div class="yaimgs-more"><a href="#"><span class="text">Еще картинки</span><i class="icon16 loading"></i></a></div>
    </div>
    <!-- yaimgs modal -->
    <div class="yaimgs-modal">
        <div class="yaimgs-modal-wrapper">
        <div class="yaimgs-modal-content">
            <a href="#" class="yaimgs-modal-close">&times;</a>
            <div class="yaimgs-modal-content__left">
                <div class="yaimgs-core-image">
                    <span id="yaimgs-zoom-container">
                        <img class="yaimgs-zoom-img" src="">
                    </span>
                    <i class="icon16 loading"></i>
                    <span class="error-text">Не удалось загрузить изображение! Попробуйте другие размеры.</span>
                </div>
                <div class="yaimgs-carousel"></div>
                <div class="yaimgs-core-arrows">
                    <a class="yaimgs-core-prev" href="#"><span>&#x2039;</span></a>
                    <a class="yaimgs-core-next" href="#"><span>&#x203A;</span></a>
                </div>
            </div>
            <div class="yaimgs-modal-content__right">
                <div class="yaimgs-info"></div>
            </div>
        </div>
        </div>
    </div>
    <!-- yaimgs batches  -->
    <div class="yaimgs-batches">
        <div class="yaimgs-batches-wrapper"></div>
    </div>
</div>

{% if (!o.data.hide_bing_ad) { %}
<div class="yaimgs-bing">
    <a href="#" class="js-yaimgs-bing-hide">Больше не показывать <span>&times;</span></a>
    <a href="http://bing.wedoitpro.ru/" class="yaimgs-bing-link" target="_blank">
        <p>Попробуйте новый плагин <span>Bing Картинки</span> - без капчи!</p>
        <span>Всем обладателем Яндекс.Картинки скидка <strong>-20%</strong></span>
    </a>
</div>
{% } %}
</script>

<script id="yaimgs-images" type="text/html">
    {% for (var i = 0, n = o.images.length, image = o.images[0]; i < n; image = o.images[++i]) { %}
    <div class="yaimgs-gallery-item">
        <a href="#">
            <img src="{%#image.thumb.url%}">
        </a>
        <span class="yaimgs-gallery-description">
            <span>{%#image.description%}</span>
        </span>
    </div>
    {% } %}
</script>
<script id="yaimgs-info" type="text/html">
    <div>
        <h3>Описание изображения:</h3>
        <p>{%#o.data.description%}</p>
    </div>
    <a href="{%#o.data.preview[0].url%}" data-height="{%#o.data.preview[0].height%}" data-width="{%#o.data.preview[0].width%}" data-filesize="{%#o.data.preview[0].fileSizeInBytes%}" data-thumb="{%#o.data.thumb.url%}" class="yaimgs-core-link selected">Основное изображение {%#o.data.preview[0].width%}x{%#o.data.preview[0].height%}</a>
    {% for (var i = 0, n = o.data.sizes.length, image = o.data.sizes[0]; i < n; image = o.data.sizes[++i]) { %}
    <a href="{%#image.url%}" data-height="{%#image.height%}" data-width="{%#image.width%}" data-filesize="{%#image.fileSizeInBytes%}" data-thumb="{%#o.data.thumb.url%}" class="yaimgs-core-link half">{%#image.width%}x{%#image.height%}</a>
    {% } %}
    <a href="#" class="yaimgs-core-upload">Добавить <b>выбранное</b> к товару</a>
</script>
<script id="yaimgs-batch" type="text/html">
    <div class="yaimgs-batches-item just-added">
        <span class="yaimgs-batches-item-wrapper">
            <div style="background-image: url({%#o.data.thumb%});"><span>{%#o.data.width%}x{%#o.data.height%}</span></div>
            <span class="__loading"><i class="icon16 loading"></i>загрузка...</span>
            <span class="__success"><i class="icon16 yes"></i>загружено!</span>
            <span class="__iferror"><i class="icon16 delete"></i>ошибка!</span>
        </span>
    </div>
</script>
{/literal}